.dialogs {
    display: grid;
    grid-template-columns: 4fr 8fr;
    padding: 10px;
    grid-gap: 10px;
    
}


.members {
    /* border: 1px solid #161616; */
    height: 100%;
    width: 100%;
    border-right:1px solid #b9babb;
    

}
.memberCard {
    text-decoration: none;
    border-bottom:1px solid #b9babb;
    width: 91%;
    height: 50px;
    /* background: rgb(226, 225, 225); */
    display: flex;
    align-items: center;
    color: gray;
    padding: 15px;
    /* margin-bottom: 5px; */
    transition: background-color 0.2 easy;
}
.memberCard:active {
    text-decoration: none;
    color: gray;
}
.memberCard:hover {
    text-decoration: none;
    background: rgb(230, 228, 228);
    
}
.memberImg {
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
}
.memberName{
    
}





.dialog {
    /* border: 1px solid #c00101; */
    height: 100%;
    width: 100%;
}